###> symfony/framework-bundle ###
/var/
/vendor/
/bin/

# PHPUnit
.phpunit.result.cache


# PHP CS Fixer
.php-cs-fixer.cache
.php-cs-fixer.dist.php

# PHPStan
phpstan.neon

# IDE & System Files
.idea/
.vscode/
.DS_Store
nbproject/
*.project
.vagrant/

# Rector
rector.php
